
  .modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
  }
  
  .header {
    background: #8B4513;
    padding: 1rem;
    border-radius: 15px;
  }
  
  .header h2 {
    margin: 0;
    color: white;
  }
  
  .content {
    padding: 1rem;
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
  
  .button {
    font: inherit;
    border: 1px solid #8B4513;
    background: #8B4513;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 8px;
  }
  
.button:hover,
.button:active {
    background: #8B4513;
    border-color: #8B4513;
  }

.button:disabled{
  background-color: #c79673;
  cursor: no-drop;
}
  
.button:focus {
    outline: none;
  }

/*------------------------------*/

.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }

}