.card {
  margin: 1rem auto;
  border-radius: 15px;
  background-color: rgb(245, 222, 179, 0.65);
  padding: 1rem;
  width: 90%;
  max-width: 30rem;
  cursor: pointer;
}

.card:hover{
  background-color: rgb(245, 222, 179,0.8);

}

h1{
  text-align: center;
  text-shadow: 5px 5px 8px black;
  font-size: 2rem;
}